<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--要守护的服务的服务名称-->
    <add key="toWatchServiceName" value="SmartService"/>
    <!--要守护的应用程序名称-->
    <add key="toWatchAppName" value="SmartToiletDesk"/>
    <!--应用程序所在文件夹-->
    <add key="FilePath" value="d:\Users\Desktop\智慧厕所\SmartToiletSolutions\SmartToiletDesk\bin\Debug\"/>
    <!--守护服务的名称-->
    <!--<add key="serviceName" value="邮件提醒服务守护服务"/>-->
    <!--每1分钟检查一次 以秒为单位-->
    <add key="timerInterval" value="30"/>
  </appSettings>
</configuration>