<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
     <!--端口使用数量-->
    <add key="PortNum" value="6" />
    <!--IO模块干接点数量-->
    <add key="InterfaceNum" value="16"/>
    <!--IO模块实际使用干接点数量_对应实际坑位-->
    <add key="ActualNum" value="13"/>
    <!--1:IO模块,2:空气检测,3:风机,0:空-->
    <add key="COM1,COM2,COM3,COM4,COM5,COM6" value="1,1,2,3,0,0"/>
  </appSettings>
</configuration>
